beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
comtypes==1.1.10
idna==3.2
jaraco.context==4.0.0
more-itertools==8.8.0
PyAudio==0.2.11
pypiwin32==223
pyttsx3==2.90
pytz==2021.1
pywin32==301
requests==2.26.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
urllib3==1.26.6
wikipedia==1.4.0
wolframalpha==5.0.0
xmltodict==0.12.0
zope.interface==5.4.0